.resistor_container:hover{
    transform: rotate(5deg) scale(1.2);
    transition: all 0.3s ease-in-out;
}

/* .resistor_container{
    animation-name: shake;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes shake{
    0% {
        transform: rotate(5deg)
    }
    50% {
        transform: rotate(-5deg)
    }
    100% {
        transform: rotate(5deg)
    }
} */

.remove{
    z-index: -1 !important;
    top: -100% !important;
    opacity: 0 !important;
    transition: all 1s ease-in-out;
}

/*
@keyframes disapper {
    from {
        opacity: 0.8;
    }
    25% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.4;
    }
    75% {
        opacity: 0.2;
    }
    to {
        opacity: 0;
        display: none;
    }
} */
