.resistor_container:hover{
    transform: rotate(5deg) scale(1.2);
    transition: all 0.3s ease-in-out;
}

/* .resistor_container{
    animation-name: shake;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes shake{
    0% {
        transform: rotate(5deg)
    }
    50% {
        transform: rotate(-5deg)
    }
    100% {
        transform: rotate(5deg)
    }
} */
.container{
    box-shadow: 5px 6px 10px 5px #4e4e4e;
    /* outline: 1px solid #4e4e4e; */
}

.container.resistance::after{
    content: "";
    position: absolute;
    height: 5px;
    width: 4.3rem;
    background-color: #4e4e4e;
    top: 50px;
    right: -3rem;
    transform: rotate(70deg);
}

.remove{
    z-index: -1 !important;
    top: -100% !important;
    opacity: 0 !important;
    transition: all 1s ease-in-out;
}

input:checked + .button {
    background-color: #000 !important;
}

